WebContent/wsdl/CountryInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://countryInfo.webservice.org" xmlns:intf="http://countryInfo.webservice.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://countryInfo.webservice.org">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://countryInfo.webservice.org">
   <element name="getCountryInfo">
    <complexType>
     <sequence>
      <element name="countryCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCountryInfoResponse">
    <complexType>
     <sequence>
      <element name="getCountryInfoReturn" type="impl:CountryInfoResultWS"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="CountryInfoResultWS">
    <sequence>
     <element name="Lingua" nillable="true" type="xsd:string"/>
     <element name="Populacao" nillable="true" type="xsd:string"/>
     <element name="Moeda" nillable="true" type="xsd:string"/>
     <element name="Capital" nillable="true" type="xsd:string"/>
     <element name="ICAO" nillable="true" type="xsd:string"/>
     <element name="GMT" nillable="true" type="xsd:string"/>
     <element name="GeoInfo" nillable="true" type="xsd:string"/>
     <element name="ISD" nillable="true" type="xsd:string"/>
     <element name="RandomCityWeather" nillable="true" type="xsd:string"/>
     <element name="Area" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCountryInfoResponse">

      <wsdl:part element="impl:getCountryInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCountryInfoRequest">

      <wsdl:part element="impl:getCountryInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CountryInfoWS">

      <wsdl:operation name="getCountryInfo">

         <wsdl:input message="impl:getCountryInfoRequest" name="getCountryInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCountryInfoResponse" name="getCountryInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CountryInfoSoapBinding" type="impl:CountryInfoWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCountryInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCountryInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCountryInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CountryInfoService">

      <wsdl:port binding="impl:CountryInfoSoapBinding" name="CountryInfo">

         <wsdlsoap:address location="http://localhost:8080/countryInfo/services/CountryInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
